@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');@import "tailwindcss";
@import "./styles/token.css";
@import "./styles/components.css";


html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1A1A1A;
  font-family: 'VT323', monospace;
  image-rendering: pixelated;
}
